:root {
  --md-source: #AE915B;
  /* primary */
  --md-ref-palette-primary0: #000000;
  --md-ref-palette-primary10: #261900;
  --md-ref-palette-primary20: #412d00;
  --md-ref-palette-primary25: #4f3700;
  --md-ref-palette-primary30: #5d4200;
  --md-ref-palette-primary35: #6c4d00;
  --md-ref-palette-primary40: #7b5800;
  --md-ref-palette-primary50: #9a7000;
  --md-ref-palette-primary60: #b9880f;
  --md-ref-palette-primary70: #d7a32e;
  --md-ref-palette-primary80: #f6be48;
  --md-ref-palette-primary90: #ffdea4;
  --md-ref-palette-primary95: #ffefd6;
  --md-ref-palette-primary98: #fff8f3;
  --md-ref-palette-primary99: #fffbff;
  --md-ref-palette-primary100: #ffffff;
  /* secondary */
  --md-ref-palette-secondary0: #000000;
  --md-ref-palette-secondary10: #251a04;
  --md-ref-palette-secondary20: #3b2e15;
  --md-ref-palette-secondary25: #47391f;
  --md-ref-palette-secondary30: #53452a;
  --md-ref-palette-secondary35: #605034;
  --md-ref-palette-secondary40: #6c5c3f;
  --md-ref-palette-secondary50: #867556;
  --md-ref-palette-secondary60: #a18e6e;
  --md-ref-palette-secondary70: #bda987;
  --md-ref-palette-secondary80: #d9c4a0;
  --md-ref-palette-secondary90: #f6e0bb;
  --md-ref-palette-secondary95: #ffefd6;
  --md-ref-palette-secondary98: #fff8f3;
  --md-ref-palette-secondary99: #fffbff;
  --md-ref-palette-secondary100: #ffffff;
  /* tertiary */
  --md-ref-palette-tertiary0: #000000;
  --md-ref-palette-tertiary10: #0a2007;
  --md-ref-palette-tertiary20: #1f361a;
  --md-ref-palette-tertiary25: #2a4124;
  --md-ref-palette-tertiary30: #354d2f;
  --md-ref-palette-tertiary35: #40593a;
  --md-ref-palette-tertiary40: #4c6545;
  --md-ref-palette-tertiary50: #647e5c;
  --md-ref-palette-tertiary60: #7d9874;
  --md-ref-palette-tertiary70: #97b38d;
  --md-ref-palette-tertiary80: #b2cfa7;
  --md-ref-palette-tertiary90: #ceebc2;
  --md-ref-palette-tertiary95: #dcf9d0;
  --md-ref-palette-tertiary98: #ecffe2;
  --md-ref-palette-tertiary99: #f7ffef;
  --md-ref-palette-tertiary100: #ffffff;
  /* neutral */
  --md-ref-palette-neutral0: #000000;
  --md-ref-palette-neutral10: #1e1b16;
  --md-ref-palette-neutral20: #34302a;
  --md-ref-palette-neutral25: #3f3b35;
  --md-ref-palette-neutral30: #4b4640;
  --md-ref-palette-neutral35: #57524b;
  --md-ref-palette-neutral40: #635e57;
  --md-ref-palette-neutral50: #7c766f;
  --md-ref-palette-neutral60: #969088;
  --md-ref-palette-neutral70: #b1aaa2;
  --md-ref-palette-neutral80: #cdc5bd;
  --md-ref-palette-neutral90: #e9e1d9;
  --md-ref-palette-neutral95: #f8efe7;
  --md-ref-palette-neutral98: #fff8f3;
  --md-ref-palette-neutral99: #fffbff;
  --md-ref-palette-neutral100: #ffffff;
  /* neutral-variant */
  --md-ref-palette-neutral-variant0: #000000;
  --md-ref-palette-neutral-variant10: #211b10;
  --md-ref-palette-neutral-variant20: #362f24;
  --md-ref-palette-neutral-variant25: #423a2e;
  --md-ref-palette-neutral-variant30: #4e4639;
  --md-ref-palette-neutral-variant35: #5a5144;
  --md-ref-palette-neutral-variant40: #665d4f;
  --md-ref-palette-neutral-variant50: #7f7667;
  --md-ref-palette-neutral-variant60: #9a8f80;
  --md-ref-palette-neutral-variant70: #b5aa99;
  --md-ref-palette-neutral-variant80: #d1c5b4;
  --md-ref-palette-neutral-variant90: #eee1cf;
  --md-ref-palette-neutral-variant95: #fcefdd;
  --md-ref-palette-neutral-variant98: #fff8f3;
  --md-ref-palette-neutral-variant99: #fffbff;
  --md-ref-palette-neutral-variant100: #ffffff;
  /* error */
  --md-ref-palette-error0: #000000;
  --md-ref-palette-error10: #410002;
  --md-ref-palette-error20: #690005;
  --md-ref-palette-error25: #7e0007;
  --md-ref-palette-error30: #93000a;
  --md-ref-palette-error35: #a80710;
  --md-ref-palette-error40: #ba1a1a;
  --md-ref-palette-error50: #de3730;
  --md-ref-palette-error60: #ff5449;
  --md-ref-palette-error70: #ff897d;
  --md-ref-palette-error80: #ffb4ab;
  --md-ref-palette-error90: #ffdad6;
  --md-ref-palette-error95: #ffedea;
  --md-ref-palette-error98: #fff8f7;
  --md-ref-palette-error99: #fffbff;
  --md-ref-palette-error100: #ffffff;
  /* light */
  --md-sys-color-primary-light: #7b5800;
  --md-sys-color-on-primary-light: #ffffff;
  --md-sys-color-primary-container-light: #ffdea4;
  --md-sys-color-on-primary-container-light: #261900;
  --md-sys-color-secondary-light: #6c5c3f;
  --md-sys-color-on-secondary-light: #ffffff;
  --md-sys-color-secondary-container-light: #f6e0bb;
  --md-sys-color-on-secondary-container-light: #251a04;
  --md-sys-color-tertiary-light: #4c6545;
  --md-sys-color-on-tertiary-light: #ffffff;
  --md-sys-color-tertiary-container-light: #ceebc2;
  --md-sys-color-on-tertiary-container-light: #0a2007;
  --md-sys-color-error-light: #ba1a1a;
  --md-sys-color-error-container-light: #ffdad6;
  --md-sys-color-on-error-light: #ffffff;
  --md-sys-color-on-error-container-light: #410002;
  --md-sys-color-background-light: #fffbff;
  --md-sys-color-on-background-light: #1e1b16;
  --md-sys-color-surface-light: #fffbff;
  --md-sys-color-on-surface-light: #1e1b16;
  --md-sys-color-surface-variant-light: #eee1cf;
  --md-sys-color-on-surface-variant-light: #4e4639;
  --md-sys-color-outline-light: #7f7667;
  --md-sys-color-inverse-on-surface-light: #f8efe7;
  --md-sys-color-inverse-surface-light: #34302a;
  --md-sys-color-inverse-primary-light: #f6be48;
  --md-sys-color-shadow-light: #000000;
  --md-sys-color-surface-tint-light: #7b5800;
  --md-sys-color-surface-tint-color-light: #7b5800;
  /* dark */
  --md-sys-color-primary-dark: #f6be48;
  --md-sys-color-on-primary-dark: #412d00;
  --md-sys-color-primary-container-dark: #5d4200;
  --md-sys-color-on-primary-container-dark: #ffdea4;
  --md-sys-color-secondary-dark: #d9c4a0;
  --md-sys-color-on-secondary-dark: #3b2e15;
  --md-sys-color-secondary-container-dark: #53452a;
  --md-sys-color-on-secondary-container-dark: #f6e0bb;
  --md-sys-color-tertiary-dark: #b2cfa7;
  --md-sys-color-on-tertiary-dark: #1f361a;
  --md-sys-color-tertiary-container-dark: #354d2f;
  --md-sys-color-on-tertiary-container-dark: #ceebc2;
  --md-sys-color-error-dark: #ffb4ab;
  --md-sys-color-error-container-dark: #93000a;
  --md-sys-color-on-error-dark: #690005;
  --md-sys-color-on-error-container-dark: #ffdad6;
  --md-sys-color-background-dark: #1e1b16;
  --md-sys-color-on-background-dark: #e9e1d9;
  --md-sys-color-surface-dark: #1e1b16;
  --md-sys-color-on-surface-dark: #e9e1d9;
  --md-sys-color-surface-variant-dark: #4e4639;
  --md-sys-color-on-surface-variant-dark: #d1c5b4;
  --md-sys-color-outline-dark: #9a8f80;
  --md-sys-color-inverse-on-surface-dark: #1e1b16;
  --md-sys-color-inverse-surface-dark: #e9e1d9;
  --md-sys-color-inverse-primary-dark: #7b5800;
  --md-sys-color-shadow-dark: #000000;
  --md-sys-color-surface-tint-dark: #f6be48;
  --md-sys-color-surface-tint-color-dark: #f6be48;
  /* label - small */
  --md-sys-typescale-label-small-font-family-name: Roboto;
  --md-sys-typescale-label-small-font-family-style: Medium;
  --md-sys-typescale-label-small-font-weight: 500px;
  --md-sys-typescale-label-small-font-size: 11px;
  --md-sys-typescale-label-small-letter-spacing: 0.50px;
  --md-sys-typescale-label-small-line-height: 16px;
  /* label - medium */
  --md-sys-typescale-label-medium-font-family-name: Roboto;
  --md-sys-typescale-label-medium-font-family-style: Medium;
  --md-sys-typescale-label-medium-font-weight: 500px;
  --md-sys-typescale-label-medium-font-size: 12px;
  --md-sys-typescale-label-medium-letter-spacing: 0.50px;
  --md-sys-typescale-label-medium-line-height: 16px;
  /* label - large */
  --md-sys-typescale-label-large-font-family-name: Roboto;
  --md-sys-typescale-label-large-font-family-style: Medium;
  --md-sys-typescale-label-large-font-weight: 500px;
  --md-sys-typescale-label-large-font-size: 14px;
  --md-sys-typescale-label-large-letter-spacing: 0.10px;
  --md-sys-typescale-label-large-line-height: 20px;
  /* body - small */
  --md-sys-typescale-body-small-font-family-name: Roboto;
  --md-sys-typescale-body-small-font-family-style: Regular;
  --md-sys-typescale-body-small-font-weight: 400px;
  --md-sys-typescale-body-small-font-size: 14px;
  --md-sys-typescale-body-small-letter-spacing: 0.40px;
  --md-sys-typescale-body-small-line-height: 16px;
  /* body - medium */
  --md-sys-typescale-body-medium-font-family-name: Roboto;
  --md-sys-typescale-body-medium-font-family-style: Regular;
  --md-sys-typescale-body-medium-font-weight: 400px;
  --md-sys-typescale-body-medium-font-size: 16px;
  --md-sys-typescale-body-medium-letter-spacing: 0.25px;
  --md-sys-typescale-body-medium-line-height: 20px;
  /* body - large */
  --md-sys-typescale-body-large-font-family-name: Roboto;
  --md-sys-typescale-body-large-font-family-style: Regular;
  --md-sys-typescale-body-large-font-weight: 400px;
  --md-sys-typescale-body-large-font-size: 20px;
  --md-sys-typescale-body-large-letter-spacing: 0.50px;
  --md-sys-typescale-body-large-line-height: 24px;
  /* headline - small */
  --md-sys-typescale-headline-small-font-family-name: Roboto;
  --md-sys-typescale-headline-small-font-family-style: Regular;
  --md-sys-typescale-headline-small-font-weight: 400px;
  --md-sys-typescale-headline-small-font-size: 24px;
  --md-sys-typescale-headline-small-letter-spacing: 0px;
  --md-sys-typescale-headline-small-line-height: 32px;
  /* headline - medium */
  --md-sys-typescale-headline-medium-font-family-name: Roboto;
  --md-sys-typescale-headline-medium-font-family-style: Regular;
  --md-sys-typescale-headline-medium-font-weight: 400px;
  --md-sys-typescale-headline-medium-font-size: 28px;
  --md-sys-typescale-headline-medium-letter-spacing: 0px;
  --md-sys-typescale-headline-medium-line-height: 36px;
  /* headline - large */
  --md-sys-typescale-headline-large-font-family-name: Roboto;
  --md-sys-typescale-headline-large-font-family-style: Regular;
  --md-sys-typescale-headline-large-font-weight: 400px;
  --md-sys-typescale-headline-large-font-size: 32px;
  --md-sys-typescale-headline-large-letter-spacing: 0px;
  --md-sys-typescale-headline-large-line-height: 40px;
  /* display - small */
  --md-sys-typescale-display-small-font-family-name: Roboto;
  --md-sys-typescale-display-small-font-family-style: Regular;
  --md-sys-typescale-display-small-font-weight: 400px;
  --md-sys-typescale-display-small-font-size: 36px;
  --md-sys-typescale-display-small-letter-spacing: 0px;
  --md-sys-typescale-display-small-line-height: 44px;
  /* display - medium */
  --md-sys-typescale-display-medium-font-family-name: Roboto;
  --md-sys-typescale-display-medium-font-family-style: Regular;
  --md-sys-typescale-display-medium-font-weight: 400px;
  --md-sys-typescale-display-medium-font-size: 45px;
  --md-sys-typescale-display-medium-letter-spacing: 0px;
  --md-sys-typescale-display-medium-line-height: 52px;
  /* display - large */
  --md-sys-typescale-display-large-font-family-name: Roboto;
  --md-sys-typescale-display-large-font-family-style: Regular;
  --md-sys-typescale-display-large-font-weight: 400px;
  --md-sys-typescale-display-large-font-size: 57px;
  --md-sys-typescale-display-large-letter-spacing: -0.25px;
  --md-sys-typescale-display-large-line-height: 64px;
  /* title - small */
  --md-sys-typescale-title-small-font-family-name: Roboto;
  --md-sys-typescale-title-small-font-family-style: Medium;
  --md-sys-typescale-title-small-font-weight: 500px;
  --md-sys-typescale-title-small-font-size: 14px;
  --md-sys-typescale-title-small-letter-spacing: 0.10px;
  --md-sys-typescale-title-small-line-height: 20px;
  /* title - medium */
  --md-sys-typescale-title-medium-font-family-name: Roboto;
  --md-sys-typescale-title-medium-font-family-style: Medium;
  --md-sys-typescale-title-medium-font-weight: 500px;
  --md-sys-typescale-title-medium-font-size: 16px;
  --md-sys-typescale-title-medium-letter-spacing: 0.15px;
  --md-sys-typescale-title-medium-line-height: 24px;
  /* title - large */
  --md-sys-typescale-title-large-font-family-name: Roboto;
  --md-sys-typescale-title-large-font-family-style: Regular;
  --md-sys-typescale-title-large-font-weight: 400px;
  --md-sys-typescale-title-large-font-size: 22px;
  --md-sys-typescale-title-large-letter-spacing: 0px;
  --md-sys-typescale-title-large-line-height: 28px;
}
